<div>
  <div style="float:right;padding-left:2px;">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/addRole">Add Role</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/mapRole">Map Role to Career</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/personalInfo">Personal Info</a>
    </li>
  </ul>
  </div>
  <div style="float:left;">
    <a href="/">
      <img src="images/cvgen-logo5.png" height="50" alt="" class="d-inline-block align-middle mr-2">
      <!-- Logo Text -->
      <!--<span class="text-uppercase font-weight-bold">Tailored CV Generator</span>-->
    </a>
  </div>
</div>
<br>
<div style="float:none;" width="100%" height="10px"><br><br></div>
