<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Tailored CV Generator</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home |</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">View my Career |</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/addCareer">Add Career |</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/addEducation">Add Education |</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/addCertification">Add Certification |</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/addRole">Add Role |</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/mapRole">Map Role to Career |</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/personalInfo">Personal Info</a>
    </li>
  </ul>
</nav>
