<!DOCTYPE html>
<html>
<head>
  <title>CV Generator</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
  <div class="container menu-right">
		<ul class="nav nav-tabs"
      <li><a href="viewpersonalinfo">Personal Info</a></li>
		</ul>
	</div>

  <div class="container">
		<ul class="nav nav-tabs" role="tablist">
			<li class="active"><a href="/">Home</a></li>
			<li><a href="/">View my Career</a></li>
			<li><a href="/">Add Career</a></li>
			<li><a href="/">Add Education</a></li>
			<li><a href="/">Add Certification</a></li>
			<li><a href="/">Add Role</a></li>
			<li><a href="/">Map Role to Career</a></li>
		</ul>
	</div>
  <h1>CV Generator</h1>
</body>
</html>
