<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <div class="container2">
    <a href="/viewCareer">
        <img src="images/career-image29.jpg" width="100%">
    </a>
  </div>

  <div class="main-bottom-div">
    <ul class="main-bottom-menu">
      <li class="bottom-item"><a href="/addCareer">Add Career</a></li>
      <li class="bottom-item"><a href="/addEducation">Add Education</a></li>
      <li class="bottom-item"><a href="/addCertification">Add Certification</a></li>
    </ul>
  </div>

</main>
</body>
</html>
