<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/head'); %>
</head>
<style>
  body {
    background-image: url("images/portfolio-background2.png");
    background-size: 100%;
  }
</style>

<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main class="home-main">
  <h1>CV Generator</h1>
</main>
</body>
</html>
