<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <div class="container2">
    <a href="/viewCareer">
        <img src="images/career-image12.jpg" width="100%">
    </a>
  </div>
  <div>
    <table width="100%">
      <tr>
        <td width="33%">
          <div id ="buttonbox">
            <a href="/addCareer"><h2>Add Career</h2></a>
    	    </div>
        </td>
        <td width="33%">
          <div id ="buttonbox">
            <a href="/addEducation"><h2>Add Education</h2></a>
    	    </div>
        </td>
        <td width="33%">
          <div id ="buttonbox">
            <a href="/addCertification"><h2>Add Certification</h2></a>
    	    </div>
        </td>
      </tr>
    </table>
  </div>

</main>
</body>
</html>
