body {
  background-color: lightgray;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0.5cm 1cm 0.5cm 0.5cm;
}

.menu-right{
  justify-content: right;
  margin: 0.5cm 1cm 0.5cm 0.5cm;
  background-color: yellow;
}
